html{
    color: rgba(0,0,255,1);
    background-color: rgb(182, 245, 82);
    background-image: url("dog.webp");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}